<!-- views/partials/header.ejs -->
<h1> Tiny app </h1>
<h2>
<form method='POST' action='/login'>
<input type='text' id='username' name='username' placeholder='username'>
<button type='submit'> login </button>
</form>
