<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
<% include ./partials/_header %>
    <!-- Add EJS code here -->
    <h2> Your URLs </h2>
    <p><a href='#'> <%= shortURL %> - <%= longURL %> </a></p>
    <form method='POST' action='/urls/<%= shortURL %>'>
      <label for='longURL'> URL: </label>
      <input type='text' id='longURL' name='newURL'  placeholder='http://...'>
      <button type='submit'> Edit URL </button>
    </form>
    <a href='/urls'> Back to index </a>
</body>
</html> 